<!doctype html>
<html>
    <head>
    	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    	<meta name="description" edit="words game">
    	<meta name="keywords" edit="words, game">

        <title>
            Words
        </title>

        <link rel="stylesheet" href="./css/reset.css" type="text/css">
        <link rel="stylesheet" href="./css/main.css" type="text/css">

        <script type="text/javascript" src="./js/dummy/data.js"></script>
        <script type="text/javascript" src="./js/lib/angular/angular.js"></script>
        <script type="text/javascript" src="./js/lib/jquery/jquery-1.7.2.min.js"></script>

        <script type="text/javascript" src="./js/main.js"></script>
    </head>
    <body>
		<div ng-app>
			<div ng-controller="WordCtrl">
                <div id="shorcuts-wrapper">
                    <span>shortcuts: </span>
                    <div>
                        <span>shift + H</span>
                        hint
                    </div>
                    <div>
                        <span>shift + N</span>
                        new word
                    </div>
                </div>
                <div id="game-wrapper">
                    <div id="get-list-wrapper" ng-show="wordsList.length == 0 && word.length == 0">
                        <span class="button" ng-click="getWords()">Get words!</span>
                    </div>
                    <div ng-show="word.length > 0 && !result" id="translation-wrapper">
                        <div id="translation-translation">
                            <div id="translation-word">
                                {{translation}}
                            </div>
                        </div>
                        <ul id="translation-meanings">
                            <li ng-repeat="meaning in meanings">{{meaning}}</li>
                        </ul>
                        <div class="clearBoth"></div>
                    </div>
                    <div ng-show="word.length > 0 && result" id="next-word-wrapper">
                        <span class="button" ng-click="nextWord()">&#9658; next word</span>
                    </div>
                    <div ng-show="word.length > 0" id="word-wrapper">
                        <div class="char-box" ng-repeat="char in word">
                            <div ng-show="printCursor($index)" class="cursor">
                                <span></span>
                            </div>
                            <div class="char char-{{status[$index]}}">
                                <span>{{input[$index]}}</span>
                            </div>
                        </div>
                        <div ng-show="pointer == wordLength" class="cursor"></div>
                        <div class="check-{{result}}"></div>
                    </div>
                    <div class="clearBoth"></div>
                    <div ng-show="solvedWords.length > 0 && wordsList.length >= 0" id="solved-words">
                        <ul>
                            <li ng-repeat="solved in solvedWords"><span>{{solved[0]}}</span>{{solved[1]}}</li>
                        </ul>
                    </div>
				</div>
			</div>
		</div>
    </body>
</html>
